.app-body{
    background-color: black;
}
.heading{
    /*border: 2px solid white;*/
}
.title{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.link-container{
    text-align: center;
}
.link{
    color: aquamarine;
    font-size: 16px;
}
.media-container{
    margin-top: 25px;
    text-align: center;
}
.second-title-container{
    text-align: center;
}
.second-title{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
.quote-container{
    text-align: center;
}
.quote{
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}
.image-container{
    margin-top: 25px;
    text-align: center;
}
.cell-container{
    margin-top: 25px;
    text-align: center;
}
.end-quote-container{
    font-family: Verdana;
    font-size: 42px;
    margin-top: 25px;
    text-align: center;
}
.end-quote{
    color: white;
}
.copyright{
    text-align: right;
    color: grey;
}